<div class="container text-center">
    <img src="img/banner.jpg" alt="">
    <div class="icon-title"><i class="fa fa-tags"></i></div>    
    <h3 class="welcome-text">Welcome to notes</h3>
    <a href="/signin" class="btn btn-success">let's started</a>
    <a href="/signup" class="btn btn-primary">SignUp</a>
</div>